body {
    font-family: 'Audiowide', cursive;
    font-size: 16px;
    color: purple;
    background-image: url("../images/stars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    text-indent: 10px;
    color: #d83cbe;
    font-size: 100px;
}


#number-to-guess {
    height: 72px;
    width: 326.5px;
    font-size: 18px,
}

#totalNumber {
    height: 72px;
    width: 326.5px;
    font-size: 18px,
}

#total-wins {
    height: 72px;
    width: 326.5px;
    font-size: 18px,
}

#total-losses {
    height: 72px;
    width: 326.5px;
    font-size: 18px,
}

#header {
    align-items: center;
}

#one {
    height: 250px;
    width: 250px;
    margin: 15px;
    
}

#two {
    height: 250px;
    width: 250px;
    margin: 15px;
    
}

#three {
    height: 250px;
    width: 250px;
    margin: 15px;
    
}

#four {
    height: 250px;
    width: 250px;
    margin: 15px;
    
}